# Linear Regression of one variable implementation from scratch

Dataset: https://wiki.csc.calpoly.edu/datasets/wiki/Houses

The dataset contains the following fields:

MLS: Multiple listing service number for the house (unique ID).
Location: city/town where the house is located. Most locations are in San Luis Obispo county and northern Santa Barbara county (Santa Maria-Orcutt, Lompoc, Guadelupe, Los Alamos), but there some out of area locations as well.
Price: the most recent listing price of the house (in dollars).
Bedrooms: number of bedrooms.
Bathrooms: number of bathrooms.
Size: size of the house in square feet.
Price/SQ.ft: price of the house per square foot.
Status: type of sale. Thee types are represented in the dataset: Short Sale, Foreclosure and Regular.

In [21]:
import os
os.environ['http_proxy'] = "http://proxy.micron.com:8080"

In [135]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pylab import scatter, show, title, xlabel, ylabel, plot, contour
import requests
%matplotlib inline
data_url='http://wiki.csc.calpoly.edu/datasets/attachment/wiki/Houses/RealEstate.csv'
#data=pd.read_csv(data_url)\
data=pd.read_csv("C:\One drive sync\OneDrive - Micron Technology, Inc\Trainings\Python\DataScience\RealEstate.csv")
data.describe()

,MLS,Price,Bedrooms,Bathrooms,Size,Price/SQ.Ft
count,781.000000,7.810000e+02,781.000000,781.000000,781.000000,781.000000
mean,151224.550576,3.833291e+05,3.142125,2.355954,1755.058899,213.131293
std,3936.122042,3.490381e+05,0.855768,0.846596,819.577603,115.082146
min,132842.000000,2.650000e+04,0.000000,1.000000,120.000000,19.330000
25%,149922.000000,1.990000e+05,3.000000,2.000000,1218.000000,142.140000
50%,152581.000000,2.950000e+05,3.000000,2.000000,1550.000000,188.360000
75%,154167.000000,4.290000e+05,4.000000,3.000000,2032.000000,245.420000
max,154580.000000,5.499000e+06,10.000000,11.000000,6800.000000,1144.640000

In [4]:
def compute_cost_function(m, t0, t1, x, y):
    total=0
    for i in range(m):
        total=total+(t0+t1*np.asarray([x[i]])-y[i])**2
    cost=1/(2*m) * total
    return cost

In [68]:
  def gradient_descent(alpha, x, y, ep=0.0001, max_iter=1500):
    # initial theta
    t0 = 0
    t1 = 0
    iter = 0
    converged=False
    m=len(x)
    total_grad0=0
    total_grad1=0
    cost_functions=[]
    theta_ones=[]
    theta_nots=[]
    while not converged:
        for i in range(m):
            total_grad0=total_grad0+(t0+t1*np.asarray([x[i]])-y[i])
            total_grad1=total_grad1+(t0+t1*np.asarray([x[i]])-y[i])*np.asarray([x[i]])
        grad0 = 1.0/m * total_grad0 
        grad1 = 1.0/m * total_grad1
        # update the theta_temp
        temp0 = t0 - alpha * grad0
        temp1 = t1 - alpha * grad1
        theta_ones.append(temp1)
        theta_nots.append(temp0)
        # update theta
        t0 = temp0
        t1 = temp1

        # mean squared error
        e = compute_cost_function(m, t0, t1, x, y)
        #print ('J = ', e)
        cost_functions.append(e)
        J = e   # update error 
        iter += 1  # update iter
        if iter == max_iter:
            print ('Max interactions exceeded!')
            converged = True

    return t0,t1,cost_functions,theta_nots,theta_ones

In [70]:
Even though there are several ways to normalize a variable, the [0,1] normalization (also known as min-max) and the z-score normalization(Feature Scaling) are two of the most widely used. Here is how you can calculate both of them:

XminmaxNorm = (X - min(X))/(max(X)-min(X));
XzscoreNorm = (X - mean(X))/std(X);

array([0.00169739])

In [ ]:
    alpha = 0.01 # learning rate
    ep = 0.001 # convergence criteria
    
    x=(data['Size']-data['Size'].min())/(data['Size'].max()-data['Size'].min())
    y=(data['Price']-data['Price'].min())/(data['Price'].max()-data['Price'].min())
    
    #x = np.asarray([1, 1, 2, 3, 4, 3, 4, 6, 4])
    #y = np.asarray([2, 1, 0.5, 1, 3, 3, 2, 5, 4])
 
    # call gredient decent, and get intercept(=theta0) and slope(=theta1) and list of all theta0s, theta1s and error values
    theta0, theta1,cost_functions,theta_nots,theta_ones = gradient_descent(alpha, x, y, ep, max_iter=100)
    
    print ('Hypothesis: h(x)=' + str(theta0)+'+ '+str(theta1)+'x')
 
    # plot
    for i in range(x.shape[0]):
        y_predict = theta0 + theta1*x

    plt.scatter(x, y)
    plt.plot(x,y_predict)

In [261]:
compute_cost_function(len(x),theta0, theta1, x, y)

In [ ]:
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm

Zs = np.array(cost_functions)
fig = plt.figure(figsize=(7,7))
ax = fig.gca(projection="3d")
ax.set_xlabel(r't0')
ax.set_ylabel(r't1')
ax.set_zlabel(r'cost')
ax.view_init(elev=30, azim=50)
ax.plot_surface(theta_nots, theta_ones, Zs, cmap=cm.rainbow)

theta_nots=np.asarray(theta_nots)
theta_ones=np.asarray(theta_ones)
Zs = np.asarray(cost_functions)
plt.tricontour(theta_nots.ravel(), theta_ones.ravel(), Zs.ravel()) 
plt.plot(theta0, theta1, 'r*')